# Default values for hakibets-ui.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

secretRef: []

image:
  repository: europe-west1-docker.pkg.dev/lenstech/hakibets-ui/hakibets-ui
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext:
  {}
  # fsGroup: 2000

securityContext:
  {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    cert-manager.io/cluster-issuer: letsencrypt
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/ssl-passthrough: "false"
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
  # hosts:
  #   - host: hakibets.com
  #     paths:
  #       - path: /
  #         pathType: ImplementationSpecific
  # tls:
  #   - secretName: hakibets-ui
  #     hosts:
  #       - hakibets.com

resources:
  limits:
    cpu: 2
    memory: 2Gi
  requests:
    cpu: 500m
    memory: 500Mi

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

properties:
  VITE_MATCHES_URL: https://web.api.laki.co.ke
  VITE_INSTANT_URL: https://laki-instant.api.laki.co.ke
  VITE_AUTH_URL: https://laki-bets-auth-v1.api.laki.co.ke
  VITE_BET_URL: https://bet-api.laki.co.ke
  VITE_CASINO_URL: https://laki-soft-gaming.laki.co.ke

secrets:
